//変数------------------------------------
$spaceClass: true !default; //余白調整用のclassを生成
$spacePadding: true !default; //余白調整用のpaddingClassは設定しない
$spaceEndValue: 20 !default; //繰り返し数
$fontClass: true !default; //文字サイズのclassを生成
$fontEndValue: 60 !default; //繰り返し数
$weightClass: true !default; //文字サイズのclassを生成
$weightEndValue: 9 !default; //繰り返し数
$widthEndValue: 20 !default; //繰り返し数
$lineSpaceEndValue: 20 !default; //繰り返し数

//カラー
$colorSet: (
	'Main': #e26a12,
	'White': #fff,
	'Black': #222222,
);

$breakpoints: (
	"md": "screen and (min-width: 701px)",
	"lg": "screen and (min-width: 1201px)"
) !default;