@forward "../settings/variable";
.mAuto {
	margin-left: auto;
	margin-right: auto;
}

@if $spaceClass {
	@for $i from 0 through $spaceEndValue {
		.mt#{ $i * 10 } {
			margin-top: 1rem * $i;
		}
		.mb#{ $i * 10 } {
			margin-bottom: 1rem * $i;
		}
		@if $spacePadding {
			.pt#{ $i * 10 } {
				padding-top: 1rem * $i;
			}
			.pb#{ $i * 10 } {
				padding-bottom: 1rem * $i;
			}
		}
	}
}


@include sp {
	.mAuto_sp {
		margin-left: auto;
		margin-right: auto;
	}

	@for $i from 0 through $spaceEndValue {
		@if $spaceClass {
			.mt#{ $i * 10 }_sp { margin-top: 2.5vw * $i; }
			.mb#{ $i * 10 }_sp { margin-bottom: 2.5vw * $i; }
		}
	}
	@for $i from 0 through $spaceEndValue {
		@if $spacePadding {
			.pt#{ $i * 10 }_sp { padding-top: 2.5vw * $i;	}
			.pb#{ $i * 10 }_sp { padding-bottom: 2.5vw * $i;}
		}
	}
}
