<%
const global = {
	breakPoint: { sp:767,tab:1200 },
	path: '',
	meta: {
		title: 'ページタイトル',
		description: 'ディスクリプション',
		url: '',
		site_name: '',
		ogImage: '',
		favicon: { 
			1616: '',
			svg: '',
			apple: '',
		},
	}
};
%><%- include( 'template-parts/_header',{ meta: global.meta } ) %>

<div id="content" class="l-content">

<!-- TOP AREA -->

<div id="main" class="l-main">

<!-- 例 -->
<%- include( 'template-parts/_picture',{ global, img:{ webp: true, src:'img_home-esports', extns:'jpg', isMediaQuery: false, srcset: [ '2x' ], attr:{ width:960, height:620, alt:'', className:'pp', decoding:'sync', loading:'eager' } } } ) %>


</div><!-- l-main -->

</div><!-- l-content -->


<%- include( 'template-parts/_footer',{ meta: global.meta } ) %>